*.log
*.out
.cache/

.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.retry

*.pem
*.key
*.pub
.env
secret.yaml
credentials.json

__pycache__/
*.pyc
*.pyo
.pytest_cache/
locust_screenshot_*.png